/* example */
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.bs-docs-example::after {
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}

.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
    border: 1px solid #E1E1E8;
}

.switch {
    .adminui-switcher-container {
        margin-right: 5px;
    }
}
.editr {
  .editr__content {
    .ace_editor {
      font-size: 14px;
    }
  }
}
/** $Responsive */
/*---------------------------------------------------------------------------*/

@media screen and (min-width: 960px) {

  .editr-wrap .editr {
    margin: 0;
    min-height: 359px;
  }

  [class*="-l0"] { display: none; }
  [class*="-l1"] { width: 8.333%; }
  [class*="-l2"] { width: 16.666%; }
  [class*="-l3"] { width: 25%; }
  [class*="-l4"] { width: 33.333%; }
  [class*="-l5"] { width: 41.666%; }
  [class*="-l6"] { width: 50%; }
  [class*="-l7"] { width: 58.333%; }
  [class*="-l8"] { width: 66.666%; }
  [class*="-l9"] { width: 75%; }
  [class*="-l10"] { width: 83.333%; }
  [class*="-l11"] { width: 91.666%; }
  [class*="-l12"] { width: 100%; }
}

@media screen and (min-width: 481px) and (max-width: 959px) {
  [class*="-m0"] { display: none; }
  [class*="-m1"] { width: 8.333%; }
  [class*="-m2"] { width: 16.666%; }
  [class*="-m3"] { width: 25%; }
  [class*="-m4"] { width: 33.333%; }
  [class*="-m5"] { width: 41.666%; }
  [class*="-m6"] { width: 50%; }
  [class*="-m7"] { width: 58.333%; }
  [class*="-m8"] { width: 66.666%; }
  [class*="-m9"] { width: 75%; }
  [class*="-m10"] { width: 83.333%; }
  [class*="-m11"] { width: 91.666%; }
  [class*="-m12"] { width: 100%; }
}

@media screen and (max-width: 480px) {
  [class*="-s0"] { display: none; }
  [class*="-s1"] { width: 8.333%; }
  [class*="-s2"] { width: 16.666%; }
  [class*="-s3"] { width: 25%; }
  [class*="-s4"] { width: 33.333%; }
  [class*="-s5"] { width: 41.666%; }
  [class*="-s6"] { width: 50%; }
  [class*="-s7"] { width: 58.333%; }
  [class*="-s8"] { width: 66.666%; }
  [class*="-s9"] { width: 75%; }
  [class*="-s10"] { width: 83.333%; }
  [class*="-s11"] { width: 91.666%; }
  [class*="-s12"] { width: 100%; }
}
