@media (max-width: 768px) {

    body {
        padding-top: 90px;
    }
    .sub-nav {
        &.affix {
            position: relative;
        }
    }

    .easy-pie-chart-widget {
        text-align: center;
    }
    .info-box {
        .stat {
            margin: 10px 0;
        }
    }
    .page-404 {
        width: auto;
    }

    .table-widget {
        .pull-right {
            clear: both;
            float: none;
        }
    }

    .page-header {
        .page-action {
            float: none;
            margin-top: 0;
        }
    }

}

@media (max-width: 480px) {
    .sub-navbar {
        display: none;
    }
}
