// Icon images path 
$iconSpritePath:          "../images/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png" !default;
$icon-font-path: "fonts/" !default;

$body-bg:  #fdfdfd;
$text-color:       #666;
$navbarInverseBackgroundHighlight: #3d3d3d;
$navbarInverseBackground: #2d2d2d;
$navbarInverseBorder: #353535;
     
$font-family-sans-serif:  "Helvetica Neue", Helvetica, "microsoft yahei", Arial, sans-serif !default;
$header-font: 24px/30px $font-family-sans-serif;
$body-font: 12px/18px $font-family-sans-serif; 
$menu-header-font: 14px/20px $font-family-sans-serif;

@import "compass";

$font-size-base: 12px !default;
$font-size-large: ceil($font-size-base * 1.17) !default; // ~14px
$line-height-base: 1.5 !default; // 18/12;
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;
$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;
$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

$input-height-small: ($line-height-computed + ($padding-small-vertical * 2) + 2) !default;
$font-size-h1: floor($font-size-base * 2) !default; // ~24px
$font-size-h2: floor($font-size-base * 1.7) !default; 
$font-size-h3: ceil($font-size-base * 1.5) !default; 
$font-size-h4: ceil($font-size-base * 1.25) !default; 
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil($font-size-base * 0.85) !default; 


@import "../components/bootstrap-sass/lib/bootstrap";



.navbar {
    font: $font-size-large $font-family-sans-serif;
}

.glyphicon {
    top: 2px;
}

$iconMinus:               "../images/minus.png";
$iconPlus:                "../images/plus.png";
$iconSorting:             "../images/sorting_sprite.png";
$loginBgImg:              "../images/login_bg.jpg";
$submenuSprites:          "../images/menu_sprites.png";

// Info box
$infoBoxItemNumberColor:    #08c;
$infoBoxItemNumberFontSize: 32px;
$infoBoxItemNameColor:      #666;

// Advance search filter
$advanceSearchFilterBgColor:           #f9f9f9;
$advanceSearchFilterBorderColor:       #e3e3e3;
$advanceSearchFilterArrowHoverBgColor: #e3e3e3;

// Footable
$footableDetailFontSize: 12px;
$footableDetailBgColor:  #eee;
// 
// // Box widget
// $boxWidgetBorder: #ddd;
// 
// Mixin
@mixin base-widget-header-gradient {
    @include text-shadow(0 1px 0 #fff);
    @include box-shadow(0 1px 0 0 #fff inset);
    // @include background-image(linear-gradient($BaseWidgetHeaderGradientStart, $BaseWidgetHeaderGradientEnd)); 
}


// Icon animate
@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(rotate) {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

//fix colloapse css
.collapse{
  display: block;
  overflow: hidden;
  height: auto;
}
// fix header toggle()
@media (max-width: 768px) {
  .collapse{
    display:none;
  }
  .nav.pull-right{
    float:none!important;
  }
  // fix select margin
  .chzn-container{
    margin-bottom:15px;
  }
}
//field error
// Custom styles
@import "ntd-main";
@import "ntd-nav";
@import "ntd-table";
@import "ntd-cascade-list";
@import "ntd-login";
@import "ntd-easy-pie-chart";
@import "ntd-foo-table";
@import "ntd-404";
@import "ntd-responsive";
@import "ntd-toggle-switch";
@import "adminui-checkbox-group";
// 
