// Login page 
.login-box {
    padding: 20px 40px;
    margin: 90px auto 0;
    width: 470px;
    
    h3 {
        color: #666;
        font-weight: normal;
    }

    input[type="text"],input[type="password"] {
        margin-bottom: 20px;
        // @include input-block-level();
         @include box-sizing(border-box);
    }

    .login-actions {
        font-size: 12px;
        color: #666;
        margin-bottom: 10px;
        
        label {
            font-size: 12px;
        }
        input[type="checkbox"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
        }
    }
}
