// Login page 
.login-page {
    background: #999 url(#{$loginBgImg}) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.login-wrapper {
    margin: 90px auto 0;
    width: 470px;
}
.login-box {
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.65);
    
    h3 {
        color: #fff;
        font-weight: normal;
        text-shadow: 0px 0px 3px #999;
    }

    input[type="text"],input[type="password"] {
        margin-bottom: 20px;
        @include ctb-input-block-level();
        @include ctb-box-sizing(border-box);
    }

    .login-actions {
        font-size: 12px;
        color: #666;
        margin-bottom: 10px;
        
        label {
            font-size: 12px;
        }
        input[type="checkbox"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
        }
    }
}