@font-face {
    font-family: 'admin_uiregular';
    src: url('fonts/adminui-regular.eot');
    src: url('fonts/adminui-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/adminui-regular.woff') format('woff'),
         url('fonts/adminui-regular.ttf') format('truetype'),
         url('fonts/adminui-regular.svg#admin_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'good_timesregular';
    src: url('fonts/good_times_rg-webfont.eot');
    src: url('fonts/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/good_times_rg-webfont.woff') format('woff'),
         url('fonts/good_times_rg-webfont.ttf') format('truetype'),
         url('fonts/good_times_rg-webfont.svg#good_timesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon-animate-refresh {
    background: url(#{$iconWhiteSpritePath}) -240px -24px no-repeat;
    -webkit-mask-size: 30px 30px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
body {
    padding-top: 60px;
}
h1,h2,h3,h4,h5,h6,legend {
    font-weight: normal;
}
input[readonly]{
    cursor: default;
}
a {
    cursor: pointer;
}
select
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.label,
.badge,
.btn-small { 
    font-size: $fontSizeSmall;
    font-weight: normal;
}

// Form 
form {
    .form-column {
        display: inline-block;
    }
    &.form-horizontal {
        .control-text {
            margin-bottom: 5px;
            padding-top: 5px;
        }
        .help-block {
            margin-top: 10px;
        }
    }
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
    opacity: 0.4;
}
.navbar {
    .brand {
        &:before {
            margin-right: 5px;
            font-family: 'admin_uiregular';
            font-size: 28px;
            content: '\F000';
        }
        
        font-family: 'good_timesregular';
        font-size: 20px;

        margin-right: 20px;

        color: #000;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        @include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(linear);

        &:hover {
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
            background-position: 20px -46px;
            opacity: .6;
        }
    }
}
// Submenu nav
.sub-nav {
    margin-bottom: 5px;
    @include box-shadow(0 1px 4px rgba(0,0,0,.065));
    li {
        a {
            cursor: pointer !important;
            .icon-chevron-down {
                opacity: .25;
            }
            &:hover {
                @include transition-property(background-color);
                @include transition-duration(.45s);
                @include transition-timing-function(ease);

                .icon-chevron-down {
                    opacity: .5;
                }
            }
        }
        
        &.active{
            a, a:hover {
                color: $white;
                border-width: 0;
                padding: 9px 12px;
                background-color: $submenuActiveBgColor;

                .icon-chevron-down {
                    opacity: 1;
                }
            }
            .icon-chevron-down {
                background-image: url(#{$iconWhiteSpritePath});
                opacity: 1;
            }
        }

        ul {
            margin: 0;
            list-style: none;
            border-left: 1px solid $submenuChildBorderColor;
            border-right: 1px solid $submenuChildBorderColor;
            display: none;

            li {
                font-size: $fontSizeSmall;
                a {
                    display: block;
                    margin-top: -1px;
                    padding: 8px 12px 8px 24px !important;
                    color: $submenuChildLinkColor !important;
                    background-color: $submenuChildLinkBgColor !important;
                    &:hover {
                        border-width: 1px !important;
                        text-decoration: none;
                        background: url("#{$SubmenuSprites}") no-repeat 15px 14px;
                    }
                    &:first-child {
                        border-top: 1px solid $submenuChildLinkHoverBorderTopColor;
                    }
                }

                &.active {
                    a, a:hover {
                        color: red;
                        border-color: $submenuChildBorderColor;
                        background:url(#{$SubmenuSprites}) no-repeat 15px -22px;
                    }
                }
            }
        }
    }
}

.btn-icon{
    padding: 2px 4px 0 4px;
    [class^="icon-"], [class*=" icon-"] {
        margin-top: 0;
    }
}

// Pagination
.pagination{
    margin-top: 0;
}

// Info box
.info-box {
    margin-bottom: 20px;
    overflow: hidden;
    .stat {
        border: 1px solid $infoBoxBorderColor;
        padding: 10px;
        color: $infoBoxItemNameColor;
        text-align: center;
        @include border-radius($baseBorderRadius);
        @include text-shadow(0 1px 0 #FFFFFF);
        @include box-shadow(0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4));
        @include background-image(linear-gradient($infoBoxGradientStart, $infoBoxGradientEnd)); 
        background-color: $infoBoxGradientEnd;

        strong {
            display: block;
            font-weight: normal;
            font-size: $infoBoxItemNumberFontSize;
            color: $infoBoxItemNumberColor;
            margin:5px 0;
        }
    }
}
.user-infomation {
    padding-top: 5px;
    text-align: center;
    overflow: hidden; 

    img {
        margin-bottom: 10px;
        border: 3px solid $white;
        @include box-shadow(0 1px 5px rgba(0,0,0,0.3));
        @include border-radius(500px, 500px);
    }
    .user-content {
        overflow: hidden;
    }
}

// Advance search filter
.advance-search-filter {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: $advanceSearchFilterBgColor;
    border: 1px solid $advanceSearchFilterBorderColor;
    @include border-radius(4px);
    position: relative;
    .skeleton {
        label, .help-inline, .help-block {
            display: none;
        }
        .control-group {
            display: inline-block;
            margin: 0;
            .controls {
                margin: 0;
            }
        }
    }
    form {
        margin-bottom: 0;
        .form-actions {
            margin-bottom: 0;
            padding-bottom: 0;
            background: none;
        }
    }
    .more {
        margin-left: 50%;
        text-align: center;
        overflow: hidden;
        position: absolute;
        left: -30px;
        bottom: -16px;
        background: $advanceSearchFilterBgColor; 
        border: solid $advanceSearchFilterBorderColor;
        border-width: 0 1px 1px;
        @include border-bottom-radius(4px);
        a {
            display: block;
            padding: 0 0 5px;
            width: 60px;
            height: 10px;
            &:hover {
                background: $advanceSearchFilterArrowHoverBgColor;
            }
            [class^="icon-"], [class*=" icon-"] {
                margin-top: -2px;
            }
            .icon-chevron-up {
                background-position: -288px -120px;
            }
        }
    }
}

.div-stacked {
    border: 1px solid #ddd;
    @include border-radius($baseBorderRadius);
    .stacked-item {
        border-bottom: 1px solid #ddd;
        &:last-child {
            border: none;
        }
    }
    .stacked-item-hd {
        padding: 8px;
        overflow: hidden;
    }
    .stacked-item-bd {
        padding: 8px;
        border-top: 1px solid #ddd;
        // background: #f5f5f5;
        .table-normal {
            margin: 0;
        }
    }
}

// Box widget
.box {
    margin-bottom: $baseLineHeight;
    .opts {
        float: right;
    }
    .box-hd {
        padding: 8px;
        line-height: $baseLineHeight;
        border: 1px solid $boxWidgetBorder;
        @include base-widget-header-gradient;
        @include border-top-radius($baseBorderRadius);
        h3 {
            margin: 0;
            font-size: 14px;
            line-height: $baseLineHeight;
        }
    }
    .box-bd {
        padding: 8px;
        border: solid #ddd;
        border-width: 0 1px 1px;
        background-color: $white;
        @include border-bottom-radius($baseBorderRadius);
        .alert {
            margin-bottom: 0;
        }
    }
}
.page-header {
    .page-action {
        float: right;
        margin-top: 15px;
    }
}

// Tag input
.tag-input-container ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear, box-shadow linear;
  -webkit-transition-delay: 0.2s, 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.tag-input-container ul.focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.tag-input-container ul .tag {
  padding: 0 2px;
  margin: 3px 0 0 3px;
  display: block;
  border: 1px solid #aaaaaa;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
}
.tag-input-container ul .tag span {
  padding: 0 2px;
}
.tag-input-container ul .tag i {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 3px 1px 0 1px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
}
.tag-input-container ul .input-li input {
  border: none;
  width: 80px;
  margin: 0 3px;
  background: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tag-input-container ul .input-li input:focus {
  outline: none;
}

// chosen

.chosen {
    width: 220px;
}
.chosen-mini {
    width: 70px;
}
.chosen-small {
    width: 100px;
}
.chosen-medium {
    width: 160px;
}
.chosen-large {
    width: 220px;
}
.chosen-xlarge {
    width: 280px;
}
.chosen-xxlarge {
    width: 540px;
}
.chzn-container {
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}
.chzn-container .chzn-drop {
    background: #ffffff;
    border: 1px solid #999999;
    border-top:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
}
.chzn-container.chzn-with-drop .chzn-drop {
    left: 0;
}
.chzn-container .chzn-results {
    color: #555555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.chzn-container .chzn-results li {
    display: none;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 6px;
}
.chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal;
}
.chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item;
}
.chzn-container .chzn-results .highlighted {
    background-color: #0088cc;
    color: #ffffff;
}
.chzn-container .chzn-results .highlighted em {
    background: transparent;
}
.chzn-container .chzn-results .no-results {
    background: #eeeeee;
    display: list-item;
}
.chzn-container .chzn-results .group-result {
    cursor: default;
    color: #999;
    font-weight: bold;
}
.chzn-container .chzn-results .group-option {
    padding-left: 15px;
}
.chzn-container .chzn-results-scroll {
    background: #ffffff;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;
}
.chzn-container .chzn-results-scroll span {
    display: inline-block;
    height: 20px;
    text-indent: -5000px;
    width: 9px;
}
.chzn-container .chzn-results-scroll-down {
    bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
    background: url("../images/chosen-sprite.png") no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
    background: url("../images/chosen-sprite.png") no-repeat -22px -3px;
}
.chzn-container-single .chzn-single {
    display: block;
    @include ctb-ie7-inline-block();
    padding: 4px 12px 1px;
    margin-bottom: 0; // For input.btn
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    vertical-align: middle;
    cursor: pointer;
    @include ctb-buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
    border: 1px solid $btnBorder;
    *border: 0; // Remove the border to prevent IE7's black border on input:focus
    border-bottom-color: darken($btnBorder, 10%);
    @include ctb-border-radius($baseBorderRadius);
    @include ctb-ie7-restore-left-whitespace(); // Give IE7 some love
    @include ctb-box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});
    position: relative;
    text-decoration: none;
    white-space: nowrap;

}
.chzn-container-single .chzn-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chzn-container-single .chzn-single abbr {
    background: url("../images/chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 26px;
    top: 10px;
    width: 12px;
}
.chzn-container-single .chzn-single abbr:hover {
    background-position: right -11px;
}
.chzn-container-single .chzn-single.chzn-disabled .chzn-single abbr:hover {
    background-position: right 2px;
}
.chzn-container-single .chzn-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
}
.chzn-container-single .chzn-single div b {
    background: url("../images/chosen-sprite.png") no-repeat 0 5px;
    display: block;
    height: 100%;
    width: 100%;
}
.chzn-container-single .chzn-default {
    color: #999999;
}
.chzn-container-single .chzn-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}
.chzn-container-single .chzn-search input {
    height: 30px;
    background: url("../images/chosen-sprite.png") no-repeat 100% -20px, #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
}
.chzn-container-single .chzn-search input.loading {
    background: url("../images/loading.gif") no-repeat 98% 6px;
}
.chzn-container-single .chzn-drop {
    margin-top: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.chzn-container-single-nosearch .chzn-search input {
    position: absolute;
    left: -9000px;
}
.chzn-container-single-nosearch .chzn-results {
    padding: 4px 0 0 4px;
}
.chzn-container-multi .chzn-choices {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chzn-container-multi .chzn-choices li.search-field input {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 20px;
    margin: 0;
    padding: 4px;
    outline: 0;
}
.chzn-container-multi .chzn-choices .search-field .default {
    color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background: url("../images/chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
    background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
}
.chzn-container-multi .chzn-results {
    margin: 0 0 0 0;
    padding: 0;
}
.chzn-container-multi .chzn-drop .result-selected {
    display: none;
}
.chzn-container-active .chzn-single {
    border: 1px solid rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.chzn-container-active.chzn-with-drop .chzn-single {
    background-color: #eeeeee;
    border: 1px solid rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.chzn-container-active.chzn-with-drop .chzn-single div {
    background: transparent;
    border-left: none;
}
.chzn-container-active.chzn-with-drop .chzn-single div b {
    background-position: -18px 5px;
}
.chzn-container-active .chzn-choices {
    background-color: $inputBackground;
    border: 1px solid $inputBorder;
    @include ctb-box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include ctb-transition(#{border linear .2s, box-shadow linear .2s});

    // Focus state
    &:focus {
      border-color: rgba(82,168,236,.8);
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      @include ctb-box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)});
    }
}
.chzn-container-active .chzn-choices .search-field input {
    color: #111 !important;
}
.chzn-disabled {
    cursor: default;
    opacity: 0.5 !important;
}
.chzn-disabled .chzn-single {
    cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
    cursor: default;
}
.chzn-rtl {
    text-align: right;
}
.chzn-rtl .chzn-single {
    padding: 0 8px 0 0;
    overflow: visible;
}
.chzn-rtl .chzn-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl;
}
.chzn-rtl .chzn-single div {
    left: 3px;
    right: auto;
}
.chzn-rtl .chzn-single abbr {
    left: 26px;
    right: auto;
}
.chzn-rtl .chzn-choices .search-field input {
    direction: rtl;
}
.chzn-rtl .chzn-choices li {
    float: right;
}
.chzn-rtl .chzn-choices .search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
    background-position: right top;
    left: 4px;
    right: auto;
}
.chzn-rtl.chzn-container-single .chzn-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
    padding-left: 0;
    padding-right: 15px;
}
.chzn-rtl.chzn-container-active.chzn-with-drop .chzn-single div {
    border-right: none;
}
.chzn-rtl.chzn-container-single.chzn-with-drop .chzn-single div b{
    background-position:-12px 5px;
}
.chzn-rtl.chzn-container-single .chzn-single div b{
    background-position:6px 5px;
}
.chzn-rtl .chzn-search input {
    background: url("../images/chosen-sprite.png") no-repeat -28px -20px, #ffffff;
    direction: rtl;
    padding: 4px 5px 4px 20px;
}
// fix for chosen responsive
[class*="span"] {
    .chzn-container {
        width: 100% !important;
    }
}
