@import 'compass';

$gray-lighter: #eee;
.cascade-list 
{
    margin-bottom: 0;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: normal;

    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    @include transition(border linear 0.2s, box-shadow linear 0.2s);
}

.cascade-list-inner 
{
    width: 100%;
    height: 100px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.cascade-list ul
{
    margin: 0;
    padding: 4px 6px;
    width: 30%;
    height: 100%;
    display: block;
    position: absolute;
    list-style: none;
    border-right: 1px solid $gray-lighter;
    overflow: auto;
}

.cascade-list li 
{
    background-image: url('../images/cascadelist_arrows.png');
    background-repeat: no-repeat;
    background-position: 98% 20px;
    overflow: hidden;
    padding-right: 1.5em;
    cursor: pointer;
}
.cascade-list .form-control{
    display: inline-block;    
}


.cascade-list li.has-child 
{
    background-position: 98% -21px;
}

.cascade-list li.selective
{
    background-color: $gray-lighter;
}

.cascade-list li.selective.has-child
{
    background-color: $gray-lighter;
    background-position: 98% -47px;
}

.cascade-list ul.selective li.selective
{
    background-color: #049cdb;
    color: #fff;
}

.cascade-list ul.selective li.selective.has-child
{
    background-position: 98% -73px;
}
