@media (max-width: 768px) {

    body {
        padding-top: 90px;
    }

    .easy-pie-chart-widget {
        text-align: center;
    }
    .info-box {
        .stat {
            margin: 10px 0;
        }
    }
    .page-404 {
        width: auto;
    }

    .table-widget {
        .pull-right {
            clear: both;
            float: none;
        }
    }

    .page-header {
        .page-action {
            float: none;
            margin-top: 0;
        }
    }

    .sub-navbar {
        width: 768px;
    }

}

@media (max-width: 992px) {
    .side-nav-container {
        max-height: 350px;
        .side-nav {
          .side-nav-menu {
            padding-bottom: 20px;
          }
        }
        &.affix {
            position: relative;
        }
    }
    .sub-navbar {
        width: 990px;
    }
}

@media (max-width: $screen-sm-max) {
  .chzn-container {
    display: block;
  }
}

@media (max-width: 767px) {
    .navbar {
        .main-nav {
            .active {
                a {
                    &:after {
                        content: none !important;
                    }
                }
            }
            a {
                &:hover {
                    background-color: transparent !important;
                }
            }
        }
        .sub-navbar {
            position: relative;
            left: 0;
            right: 0;
            padding: 0 15px;
            width: 100%;
            margin: 5px 0;
            li.active {
                a {
                    color: #fff;
                }
            }
        }

        .sub-navbar-back {
            display: none;
        }
    }
}
