.table-normal {
    @extend .table;
    @extend .table-bordered;
    @extend .table-hover;
    thead {
        background-color: $panel-default-heading-bg;
    }
    th {
        text-align: center;
    }
    td, th {
        vertical-align: middle !important;
    }
    &.multiple-line {
        td {
            vertical-align: top !important;
        }
    }
    .align-center,
    .short-str,
    .checkbox,
    .operation {text-align: center;}

    .align-right,
    .date,
    .currency,
    .number { text-align: right; }
    
    .checkbox {
        display: table-cell;
        width: 50px;
        margin: 0;
        input[type="checkbox"] {
            float: none;
            margin: 0;
        }
    }

    .currency{
        font-family: verdana;
    }
    .active {
        background-color: $table-bg-accent !important;
    }
    .sort-icon {
        display: inline-block;
        margin-left: 5px;
        width: 16px; 
        height: 13px;
        background: url(#{$iconSorting}) no-repeat right 0;
    }
    .sort-asc {
        .sort-icon {
            background-position: right -32px;
        }
    }
    .sort-desc {
        .sort-icon {
            background-position: right -15px;
        }
    }
}
.table-param {
    tr {
        th {
            &.param-name {
                width: 20%;
                text-align: right;
                background-color: $panel-default-heading-bg;
            }
        }
        td {
            &.param-desc {
                width: 30%;
            }
            &.param-desc-col3 {
                width: 80%;
            }
        }
    }
}
.table-widget-footer {
    @extend .clearfix;
    margin: 0 0 20px 0;
    .pagination {
        margin: 0;
    }
}

i[tooltip-popup-delay]{
 padding-left:5px;
}

