@media (max-width: 768px) {

    body {
        padding-top: 90px;
    }
    .side-nav {
        &.affix {
            position: relative;
        }
    }

    .easy-pie-chart-widget {
        text-align: center;
    }
    .info-box {
        .stat {
            margin: 10px 0;
        }
    }
    .page-404 {
        width: auto;
    }

    .table-widget {
        .pull-right {
            clear: both;
            float: none;
        }
    }

    .page-header {
        .page-action {
            float: none;
            margin-top: 0;
        }
    }

}

@media (max-width: 767px) {
    .navbar {
        .main-nav {
            .active {
                &:after {
                    content: none;
                }
            }
        }
        .sub-navbar {
            position: relative;
            padding: 0 15px;
            width: 100%;
            margin: 5px 0;
            li.active {
                a {
                    color: #fff;
                }
            }
        }

        .sub-navbar-back {
            display: none;
        }
    }
}
