.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
    opacity: 0.4;
}
.navbar {
    border-bottom-width: 0;
    .navbar-brand {
        &:before {
            margin-right: 5px;
            font-family: 'admin_uiregular';
            font-size: 25px;
            content: '\F000';
        }
        
        font-family: 'good_timesregular';
        font-size: 20px;

        margin-right: 20px;

        color: #000;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        @include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(linear);

        &:hover {
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
            background-position: 20px -46px;
            opacity: .6;
        }
    }
    .badge {
        background-color: $brand-danger;
    }

    .sub-navbar {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        min-height: 30px;
        z-index: 500;
        ul.nav {
            a {
                padding: 5px 10px;
            }
        }
    }
}
// Submenu nav
.sub-nav {
    // position: fixed;
    h4 {
        @extend .list-group-item;
        font: bold $menu-header-font;
        background-color: $panel-default-heading-bg;
        border-bottom-width: 2px;
    }
    .sub-nav-menu {
        @extend .list-group;
        li {
            @extend .list-group-item;
            padding: 0;
            cursor: pointer;
            a {
                padding: 10px 15px;
                display: block;
                color: $list-group-link-color;
                .glyphicon-chevron-down {
                    opacity: .25;
                }
                &:hover {
                    background-color: $list-group-hover-bg;
                    text-decoration: none;
                    .glyphicon-chevron-down {
                        opacity: .5;
                    }
                }
            }
            &.active {
                border-color: $list-group-active-border;
                a {
                    color: $list-group-active-color;
                    background-color: $list-group-active-bg;
                    @include border-top-radius(0 !important);
                }
                ul {
                    li {
                        &:hover {
                            border-color: $list-group-border;
                        }
                        a {
                            background-color: #fff;
                            color: $list-group-link-color;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            &:first-child {
                @include border-top-radius(0);
            }
            &:last-child {
                a {
                    @include border-bottom-radius($list-group-border-radius);
                }
                ul {
                    &:last-child {
                        li {
                            &:last-child {
                                @include border-bottom-radius($list-group-border-radius);
                                a {
                                    @include border-bottom-radius($list-group-border-radius);
                                }
                            }
                        }
                    }
                }
            }
            ul {
                @extend .list-unstyled;
                display: none;
                margin: -1px;
                font-size: $font-size-small;
                li {
                    &:first-child {
                        @include border-top-radius(0);
                    }
                    &:last-child {
                        @include border-bottom-radius(0);
                    }
                    a {
                        @include border-bottom-radius(0);
                        padding-left: 25px;
                        &:hover {
                            border-color: $list-group-border !important;
                            background: $list-group-hover-bg url($submenuSprites) no-repeat 15px 14px;
                        }
                    }
                    &.active{
                        border-color: $list-group-border;
                        a {
                            background: $list-group-bg url($submenuSprites) no-repeat 15px -22px;
                            &:hover {
                                border-color: $list-group-border !important;
                                background: $list-group-hover-bg url($submenuSprites) no-repeat 15px -22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

