
/*! 
 *   AdminLTE v1.2
 *   Author: AlmsaeedStudio.com
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
    Core: General style
----------------------------
*/
/* Content */
.content {
  padding: 20px 15px;
}
/*
Component: timeline
--------------------
*/
.timeline {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #ddd;
  left: 47px;
  border: 1px solid #eee;
  margin: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline > li > span {
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
}
.timeline > li > ul {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li > ul > .timeline-item {
  margin-top: 0;
  border: 1px solid #ddd;
  background: #fff;
  color: #555;
  margin-left: 40px;
  margin-right: 15px;
  padding: 0 5px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.timeline > li > ul > .timeline-item > .time {
  color: #999;
  float: right;
  margin: 0 10px 0 0;
  font-size: 14px;
  word-spacing: 4px;
  line-height: 35px;
  padding: 0 10px;
}
.timeline > li > ul > .timeline-item > .timeline-header {
  margin: 0;
  line-height: 35px;
  padding: 0 10px;
  color: #555;
  border-bottom: 1px solid #f4f4f4;
  font-size: 16px;
}
.timeline > li > ul > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > ul > .timeline-item > .timeline-body,
.timeline > li > ul > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li.time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
}
.timeline > li > ul > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #eee;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #eee;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
.timeline .time-label .feed_arrow {
    width: 10px;
    height: 20px;
    position: absolute;
    z-index: 5;
    left: 70px;
    top: 6px;
}
.timeline .time-label .feed_arrow > .arrow_i {
    border-color: transparent #ddd transparent transparent;
    border-width: 10px 10px 10px 0;
    border-style: dashed solid dashed dashed;
    position: absolute;
}
.timeline .time-label .feed_arrow > .arrow_bg {
    border-color: transparent white transparent transparent;
    border-width: 10px 10px 10px 0;
    border-style: dashed solid dashed dashed;
    position: absolute;
    left: 1px;
}
.timeline .time-label ul i img {
    margin-bottom: 2px;
    border: 3px solid #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 500px / 500px;
    width: 28px;
}
.timeline .time-label .timeline-item .timeline-template{
    padding: 10px;
}