<div class="page-header">
    <h1>用户面板</h1>
</div>
<div class="well easy-pie-chart-widget">
    <h3 class="box-header">
        服务器状态
    </h3>
    <div class="box no-border non-collapsible">
        <div class="row-fluid">
            <div class="span2" ng-repeat="item in easyPieChart">
                <div easy-pie-chart="item"></div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="info-box">
        <div class="span3">
            <div class="stat">
                <strong>255</strong>
                项目名称
            </div>
        </div>
        <div class="span3">
            <div class="stat">
                <strong>255</strong>
                项目名称
            </div>
        </div>
        <div class="span3">
            <div class="stat">
                <strong>255</strong>
                项目名称
            </div>
        </div>
        <div class="span3">
            <div class="stat">
                <strong>255</strong>
                项目名称
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>站点信息</h3>
        <div class="row-fluid">
            <ul class="unstyled">
                <li class="span4">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII=">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">站点</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII=">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">站点二</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII=">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">站点二</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h3>新闻</h3>
        <table class="table-normal" ng-controller="confirmButtonCtrl">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>状态</th>
                    <th class="align-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                    <td>
                        <span class="label">默认</span>
                    </td>
                    <td class="align-center">
                        <a class="btn btn-small">编辑</a>
                        <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');"="talk('Hello, WegnerDesign!');">
                            删除
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                    <td>
                        <span class="label label-success">成功</span>
                    </td>
                    <td class="align-center">
                        <a class="btn btn-small">编辑</a>
                        <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');"="talk('Hello, WegnerDesign!');">
                            删除
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                    <td>
                        <span class="label label-warning">警告</span>
                    </td>
                    <td class="align-center">
                        <a class="btn btn-small">编辑</a>
                        <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');"="talk('Hello, WegnerDesign!');">
                            删除
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                    <td>
                        <span class="label label-important">重要</span>
                    </td>
                    <td class="align-center">
                        <a class="btn btn-small">编辑</a>
                        <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');"="talk('Hello, WegnerDesign!');">
                            删除
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                    <td>
                        <span class="label label-info">信息</span>
                    </td>
                    <td class="align-center">
                        <a class="btn btn-small">编辑</a>
                        <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');"="talk('Hello, WegnerDesign!');">
                            删除
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                    <td>
                        <span class="label label-inverse">反色</span>
                    </td>
                    <td class="align-center">
                        <a class="btn btn-small">编辑</a>
                        <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');"="talk('Hello, WegnerDesign!');">
                            删除
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <h3>新闻</h3>
        <table class="table-normal">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h3>通知</h3>
        <table class="table-normal">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>兴长信达：传统企业的...</td>
                    <td>用户名</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>