<div class="page-header">
    <h1>表格</h1>
</div>
<h3>表格基础样式</h3>
<p>
    在 <code>table</code> 添加 <code>.table-normal </code>，
    金钱在对应的 <code>th</code> 和 <code>td</code> 上增加 <code>.currency</code>，
    数字在对应的 <code>th</code> 和 <code>td</code> 上增加 <code>.number</code>，
    日期在对应的 <code>th</code> 和 <code>td</code> 上增加 <code>.date</code>，
    操作在对应的 <code>th</code> 和 <code>td</code> 上增加 <code>.operation</code>
</p>
<table class="table-normal">
    <thead>
        <tr>
            <th>文字</th>
            <th class="currency">钱</th>
            <th class="number">数字</th>
            <th class="date">日期</th>
            <th class="operation">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>文字</td>
            <td class="currency">￥200.00</td>
            <td class="number">234234</td>
            <td class="date">2013/07/07</td>
            <td class="operation">
                <a class="btn btn-small">编辑</a>
                <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                    删除
                </a>
            </td>
        </tr>
        <tr>
            <td>文字</td>
            <td class="currency">￥200.00</td>
            <td class="number">234234</td>
            <td class="date">2013/07/07</td>
            <td class="operation">
                <a class="btn btn-small">编辑</a>
                <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                    删除
                </a>
            </td>
        </tr>
        <tr>
            <td>文字</td>
            <td class="currency">￥200.00</td>
            <td class="number">234234</td>
            <td class="date">2013/07/07</td>
            <td class="operation">
                <a class="btn btn-small">编辑</a>
                <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                    删除
                </a>
            </td>
        </tr>
        <tr>
            <td>文字</td>
            <td class="currency">￥200.00</td>
            <td class="number">234234</td>
            <td class="date">2013/07/07</td>
            <td class="operation">
                <a class="btn btn-small">编辑</a>
                <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                    删除
                </a>
            </td>
        </tr>
        <tr>
            <td>文字</td>
            <td class="currency">￥200.00</td>
            <td class="number">234234</td>
            <td class="date">2013/07/07</td>
            <td class="operation">
                <a class="btn btn-small">编辑</a>
                <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                    删除
                </a>
            </td>
        </tr>
    </tbody>
</table>
<pre class="prettyprint linenums">
&lt;table class=&quot;table-normal&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;&#25991;&#23383;&lt;/th&gt;
            &lt;th class=&quot;currency&quot;&gt;&#38065;&lt;/th&gt;
            &lt;th class=&quot;number&quot;&gt;&#25968;&#23383;&lt;/th&gt;
            &lt;th class=&quot;date&quot;&gt;&#26085;&#26399;&lt;/th&gt;
            &lt;th class=&quot;operation&quot;&gt;&#25805;&#20316;&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;&#25991;&#23383;&lt;/td&gt;
            &lt;td class=&quot;currency&quot;&gt;&#65509;200.00&lt;/td&gt;
            &lt;td class=&quot;number&quot;&gt;234234&lt;/td&gt;
            &lt;td class=&quot;date&quot;&gt;2013/07/07&lt;/td&gt;
            &lt;td class=&quot;operation&quot;&gt;
                &lt;a class=&quot;btn btn-small&quot;&gt;&#32534;&#36753;&lt;/a&gt;
                &lt;a class=&quot;btn btn-small btn-danger&quot; confirm-button=&quot;talk('Hello, WegnerDesign!');&quot;&gt;
                    &#21024;&#38500;
                &lt;/a&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
        ... ...
    &lt;/tbody&gt;
&lt;/table&gt;
</pre>

<h3>Table wiget 的使用</h3>
<p>
    table 外层需要嵌套一层 <code>div.table-widget</code>，
    表头被选中 <code>th</code> 的 <code>class="active"</code>，
    可排序的列需要在<code>th</code> 中加<code>&lt;span class=&quot;sort-icon&quot;&gt;&lt;/span&gt;</code>,
    <code>th</code> 的降序 <code>active sort-desc</code>，
    <code>th</code> 的升序 <code>active sort-asc</code>，
</p>
<div class="table-widget">
    <table class="table-normal" foo-table ng-controller="confirmButtonCtrl">
        <thead>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th data-class="expand" class="number active sort-desc">
                    等级
                    <span class="sort-icon"></span>
                </th>
                <th data-hide="phone,tablet">文字</th>
                <th data-hide="phone,tablet" class="number active sort-asc">
                    数字
                    <span class="sort-icon"></span>
                </th>
                <th data-hide="phone,tablet" class="date">
                    日期
                    <span class="sort-icon"></span>
                </th>
                <th class="operation">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td class="number">1</td>
                <td>这里是文字</td>
                <td class="number">123</td>
                <td class="date">2013/06/01</td>
                <td class="operation">
                    <a class="btn btn-small">编辑</a>
                    <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                        删除
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td class="number">1</td>
                <td>这里是文字</td>
                <td class="number">123</td>
                <td class="date">2013/06/01</td>
                <td class="operation">
                    <a class="btn btn-small">编辑</a>
                    <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                        删除
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td class="number">1</td>
                <td>这里是文字</td>
                <td class="number">123</td>
                <td class="date">2013/06/01</td>
                <td class="operation">
                    <a class="btn btn-small">编辑</a>
                    <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                        删除
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td class="number">1</td>
                <td>这里是文字</td>
                <td class="number">123</td>
                <td class="date">2013/06/01</td>
                <td class="operation">
                    <a class="btn btn-small">编辑</a>
                    <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                        删除
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td class="number">1</td>
                <td>这里是文字</td>
                <td class="number">123</td>
                <td class="date">2013/06/01</td>
                <td class="operation">
                    <a class="btn btn-small">编辑</a>
                    <a class="btn btn-small btn-danger" confirm-button="talk('Hello, WegnerDesign!');">
                        删除
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="table-widget-footer row-fluid">
        <div class="pull-left">
            <div class="operation">
                <button class="btn btn-danger">删除</button>
                <div class="btn-group">
                    <button class="btn">操作</button>
                    <button class="btn">操作</button>
                    <button class="btn">操作</button>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="pagination">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<pre class="prettyprint linenums">
&lt;div class=&quot;table-widget&quot;&gt;
    &lt;table class=&quot;table-normal&quot; &gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;
                    &lt;input type=&quot;checkbox&quot;&gt;
                &lt;/th&gt;
                &lt;th data-class=&quot;expand&quot; class=&quot;number active sort-desc&quot;&gt;
                    &#31561;&#32423;
                    &lt;span class=&quot;sort-icon&quot;&gt;&lt;/span&gt;
                &lt;/th&gt;
                &lt;th data-hide=&quot;phone,tablet&quot;&gt;&#25991;&#23383;&lt;/th&gt;
                &lt;th data-hide=&quot;phone,tablet&quot; class=&quot;number active sort-asc&quot;&gt;
                    &#25968;&#23383;
                    &lt;span class=&quot;sort-icon&quot;&gt;&lt;/span&gt;
                &lt;/th&gt;
                &lt;th data-hide=&quot;phone,tablet&quot; class=&quot;date&quot;&gt;&#26085;&#26399;&lt;/th&gt;
                &lt;th class=&quot;operation&quot;&gt;&#25805;&#20316;&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;
                    &lt;input type=&quot;checkbox&quot;&gt;
                &lt;/td&gt;
                &lt;td class=&quot;number&quot;&gt;1&lt;/td&gt;
                &lt;td&gt;&#36825;&#37324;&#26159;&#25991;&#23383;&lt;/td&gt;
                &lt;td class=&quot;number&quot;&gt;123&lt;/td&gt;
                &lt;td class=&quot;date&quot;&gt;2013/06/01&lt;/td&gt;
                &lt;td class=&quot;operation&quot;&gt;
                    &lt;a class=&quot;btn btn-small&quot;&gt;&#32534;&#36753;&lt;/a&gt;
                    &lt;a class=&quot;btn btn-small btn-danger&quot; confirm-button=&quot;talk('Hello, WegnerDesign!');&quot;&gt;
                        &#21024;&#38500;
                    &lt;/a&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
            ... ...
        &lt;/tbody&gt;
    &lt;/table&gt;

    &lt;div class=&quot;table-widget-footer row-fluid&quot;&gt;
        &lt;div class=&quot;pull-left&quot;&gt;
            &lt;div class=&quot;operation&quot;&gt;
                &lt;button class=&quot;btn btn-danger&quot;&gt;&#21024;&#38500;&lt;/button&gt;
                &lt;div class=&quot;btn-group&quot;&gt;
                    &lt;button class=&quot;btn&quot;&gt;&#25805;&#20316;&lt;/button&gt;
                    &lt;button class=&quot;btn&quot;&gt;&#25805;&#20316;&lt;/button&gt;
                    &lt;button class=&quot;btn&quot;&gt;&#25805;&#20316;&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;pull-right&quot;&gt;
            &lt;div class=&quot;pagination&quot;&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;?&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;?&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>