<div class="page-header">
    <h1>
        Admin UI 组件
    </h1>
</div>

<h3>Pagination</h3>
<div data-ng-controller="paginationCtrl">
  <p>分页组件，添加 <code>adminui-pagination</code>属性</p>
  <p><code>ng-model</code>为必选属性</p>
  <pre>当前页码: {{pageInfo.page}}</pre>
  <p>使用中需要通过<code>$route.current.params</code>实时获取页码更新到 model 中以选中</p>
  <div data-adminui-pagination data-ng-model="pageInfo"></div>
  <pre class="prettyprint linenums">
  &lt;div data-adminui-pagination data-ng-model=&quot;pageInfo&quot;&gt;&lt;/div&gt;
  </pre>
  <p>model 中的可配置项</p>
  <pre class="well">
    {
      directionLinks: true, //是否显示首末页跳转
      previousText: '«',
      nextText: '»',
      total: 1, // 总页数
      size: 5, // 最大显示页数
      page: 1, // 当前页数
      pageKey: 'page', // url 中参数名
      rotate: false // 是否显示省略号
    }
  </pre>
</div>

<h3>Checkbox group</h3>
<div data-ng-controller="checkboxGroupCtrl">
  <p> 复选分组组件， 添加<code>checkbox-group</code>属性</p>
  <p><code>ng-model</code>为必选属性</p>
  <div data-checkbox-group data-ng-model="checkboxGroupData"></div>
  <div data-checkbox-group data-ng-model="emptyCheckboxGroupData"></div>
  <pre class="prettyprint linenums">
  &lt;div data-checkbox-group data-ng-model=&quot;checkboxGroupData&quot;&gt;&lt;/div&gt;
  </pre>
  <p>数据结构</p>
  <pre class="well">
    {
      'name': '产品管理',
      'checkboxGroup': [
        {'name': '查看产品', 'value': 'read', 'checked': true},
        {'name': '编辑产品', 'value': 'edit'},
        {'name': '添加产品', 'value': 'add', 'checked': true},
        {'name': '删除产品', 'value': 'delete'}
      ]
    };
  </pre>
</div>

<h3>Toggle swithers</h3>
<p>开关组件， 添加<code>toggle-switcher</code>属性</p>
<p>
    <code>id</code>, 
    <code>name</code>, 
    <code>ng-true-title</code>, 
    <code>ng-false-title</code>, 
    <code>ng-true-value</code>, 
    <code>ng-false-value</code>, 
    <code>ng-model</code>, 
    <code>data-click</code>, 
    <code>ng-change</code>, 
    <code>ng-disabled</code>, 
    <code>class</code>
    为可配置属性
</p>
<p ng-controller="switcherCtrl">
    <span 
        toggle-switcher
        id="checkboxid"
        name="checkboxname"
        ng-true-title="开启状态"
        ng-false-title="关闭状态"
        ng-true-value="open"
        ng-false-value="close"
        ng-model="opened"
        data-click="click($event)"
        ng-change="change($event)">
    </span>
    <input type="button" class="btn btn-sm btn-default" ng-click="do()" value="switcher" >
    <span>{{opened}}</span>
</p>
<pre class="prettyprint linenums">
&lt;span toggle-switcher
    id=&quot;checkboxid&quot;
    name=&quot;checkboxname&quot;
    ng-true-title=&quot;开启状态&quot;
    ng-false-title=&quot;关闭状态&quot;
    ng-true-value=&quot;open&quot;
    ng-false-value=&quot;close&quot;
    ng-model=&quot;selected&quot;
    data-click=&quot;click($event)&quot;
    ng-change=&quot;change($event)&quot;&gt;
&lt;/span&gt;
</pre>
<p ng-controller="switcherCtrl">
    <span 
        toggle-switcher
        id="checkboxid"
        name="checkboxname"
        ng-true-title="On"
        ng-false-title="Off"
        ng-model="selected"
        ng-disabled="switchDisabled"
        class="small">
    </span>
    <button class="btn btn-default btn-sm" ng-click="switchDisabled = true" type="button">禁用</button>
    <button class="btn btn-default btn-sm" ng-click="switchDisabled = false" type="button">启用</button>
    <span>{{selected}}</span>
</p>
<pre class="prettyprint linenums">
&lt;span toggle-switcher
    id=&quot;checkboxid&quot;
    name=&quot;checkboxname&quot;
    ng-true-title=&quot;On&quot;
    ng-false-title=&quot;Off&quot;
    ng-model=&quot;selected&quot;
    ng-disabled=&quot;switchDisabled&quot;
    class=&quot;small&quot;&gt;
&lt;/span&gt;
</pre>
<h3>Flash alert</h3>
<div ng-controller="flashMessageCtrl">
	<p>
		<button class="btn btn-default btn-info" ng-click="sendMsg('info type message.', 'info')">info flash message</button>
		<button class="btn btn-default btn-danger" ng-click="sendMsg('error type message.', 'error')">error flash message</button>
		<button class="btn btn-default btn-success" ng-click="sendMsg('success type message.', 'success')">success flash message</button>
	</p>
	<p>
		<button class="btn btn-default btn-primary" ng-click="sendMsg('message from pre page.', 'info', true)">flash messge when route changed</button>
		点击其它页面将会看到发出去的消息
	</p>
</div>
<pre class="prettyprint linenums">
	&lt;button class=&quot;btn btn-default btn-info&quot; ng-click=&quot;sendMsg(&#39;message from pre page.&#39;, '#39;info'#39;, true)&quot;&gt;flash messge when route changed&lt;/button&gt;
</pre>
<pre class="well">
  $scope.sendMsg = function(msg, level, showOnNextPage){
	flash.notify({state: 'warning', info: 'warn message', showOnNextPage});
  }
</pre>
<h3>Field error</h3>
<form name="myForm" class="form-inline" ng-submit="save()">
       
    <div class="form-group">         
            <label class="form-label" for="personName">Example for fied error</label>  
            <input type="text" id="personName" class= "form-control" name="personName" ng-model="person.name" required style="margin-bottom:10px;">
    </div>
    <div class="form-group">        
            <span class="help-inline" field-error for="myForm.personName">显示错误信息</span>
    </div>
        <!-- <span ng-show="myForm.personName.$error.required">Required!</span>
        <span ng-show="myForm.personName.$error.pattern">Incorrect Format, should be MM/DD/YYYY</span> -->
        <p>
            <input type="submit" class="btn btn-default" ng-disabled="!myForm.$valid" value="保存"/>
        </p>
    
     
    
</form>

<h3>Chosen</h3>
<ul>
    <li><p><code>data-placeholder - string</code>, 占位提示信息</p></li>
    <li><p><code>data-disable-search-threshold - int</code>, 当大于设置条数时显示搜索</p></li>
    <li><p><code>data-on-search-promise - fn</code>, 当搜索的时候回调函数, 要求返回一个promise</p></li>
    <li><p><code>data-options-node - string</code>, 返回结果中option 所处的节点</p></li>
    <li><p><code>data-allow-single-deselect - bool</code>, 是否允许清空选中项目</p></li>
</ul>
<div ng-controller="chosenCtrl">
    <h4>Single</h4>
    <p>已选中：{{lang}}</p>
    <p>
        <select data-ng-model="lang" 
            class="ntd-chosen col-sm-3"
            data-placeholder="请选择"
            data-ng-options="option.id as option.name for option in options">
        </select>
        single的chosen
    </p>
    <pre class="prettyprint linenums">
        &lt;select data-ng-model=&quot;lang&quot; 
            class=&quot;ntd-chosen col-sm-3&quot;
            data-placeholder=&quot;&#35831;&#36873;&#25321;&quot;
            data-ng-options=&quot;option.id as option.name for option in options&quot;&gt;
        &lt;/select&gt;
    </pre>
    <p>
        <select data-ng-model="lang" 
            data-ntd-chosen
            class="col-sm-3"
            data-disable-search-threshold="10"
            data-ng-options="option.id as option.name for option in options">
        </select>
        single的chosen, 大于10条时显示搜索
    </p>
    <pre class="prettyprint linenums">
        &lt;select data-ng-model=&quot;lang&quot; 
            class=&quot;col-sm-3&quot;
            data-ntd-chosen
            data-disable-search-threshold=&quot;10&quot;
            data-ng-options=&quot;option.id as option.name for option in options&quot;&gt;
        &lt;/select&gt;
    </pre>
    <p>
        <select data-ng-model="lang" 
            data-ntd-chosen
            class="col-sm-3"
            data-allow-single-deselect="true"
            data-disable-search-threshold="10"
            data-ng-options="option.id as option.name for option in options">
            <option value=""></option>
        </select>
        single的chosen, 需要可以取消选择时, 需要有一个值和内容都为空的<code>option</code>
    </p>
    <pre class="prettyprint linenums">
        &lt;select data-ng-model=&quot;lang&quot; 
            data-ntd-chosen
            class=&quot;col-sm-3&quot;
            data-allow-single-deselect=&quot;true&quot;
            data-disable-search-threshold=&quot;10&quot;
            data-ng-options=&quot;option.id as option.name for option in options&quot;&gt;
            &lt;option value=&quot;&quot;&gt;&lt;/option&gt;
        &lt;/select&gt;
    </pre>
    <h4>Linkage</h4>
    <p>已选中：{{link}}</p>
    <div data-ntd-linkage data-source="linkages" data-ng-model="link" style="margin-bottom:20px;"></div>
    <pre class="prettyprint linenums">
        &lt;div data-ntd-linkage data-source=&quot;linkages&quot; data-ng-model=&quot;link&quot;&gt;&lt;/div&gt;
    </pre>

    <h4>AutoComplete</h4>
    <p>已选中：{{auto}}</p>
    <p>
        <select data-ng-model="auto" 
            data-ntd-chosen
            class="col-sm-3"
            data-on-search-promise="optionPromise($search)"
            data-ng-options="movie.id as movie.title for movie in movies">
        </select>
    </p>
    <pre class="prettyprint linenums">
        &lt;select data-ng-model=&quot;auto&quot; 
            data-ntd-chosen
            class=&quot;col-sm-3&quot;
            data-on-search-promise=&quot;optionPromise($search)&quot;
            data-ng-options=&quot;movie.id as movie.title for movie in movies&quot;&gt;
        &lt;/select&gt;
    </pre>

    <h4>Multiple</h4>
    <p>已选中：{{multipleLang}}</p>
    <p>这是multiple的chosen</p>
    <p>
        <select data-ng-model="multipleLang" 
            data-ntd-chosen
            class="col-sm-3"
            data-placeholder="选点东西吧"
            multiple
            data-ng-options="option.id as option.name for option in options">
        </select>
    </p>
    <pre class="prettyprint linenums">
        &lt;select data-ng-model=&quot;multipleLang&quot; 
            data-ntd-chosen
            class=&quot;col-sm-3&quot;
            data-placeholder=&quot;&#36873;&#28857;&#19996;&#35199;&#21543;&quot;
            multiple
            data-ng-options=&quot;option.id as option.name for option in options&quot;&gt;
        &lt;/select&gt;
    </pre>

    <a name="taginput"></a>
    <h3>Tag Input</h3>
    <ul>
        <li><p>分号为分隔符</p></li>
        <li><p><code>data-ng-model array</code>, 标签列表</p></li>
        <li><p><code>data-placeholder string</code>, 占位提示信息</p></li>
        <li><p><code>data-allways-placeholder bool</code>, 是否一直显示占位提示信息,默认为否</p></li>
        <li><p><code>data-unique bool</code>, 标签是否唯一,默认为是</p></li>
    </ul>
    <p>Tags: {{tags}}</p>
    <div data-ng-model="tags" data-tag-input
        data-placeholder="添加标签">
    </div>
</div>

<h3>Nav bar</h3>
<p>通过<code>nav-bar</code>属性来调用， 通过<code>data-match-route="正则表达式"</code>来匹配路径</p>
<div nav-bar>
    <ul class="nav nav-pills nav-stacked" style="margin-bottom:10px;">
        <li data-match-route="/"><a href="#/">用户面板</a></li>
        <li data-match-route="/table"><a href="#/table">表格</a></li>
        <li data-match-route="/form"><a href="#/form">表单</a></li>
        <li data-match-route="/widget"><a href="#/widget">组件</a>
    </ul>
</div>
<pre class="prettyprint linenums">
&lt;div nav-bar&gt;
    &lt;ul class=&quot;nav nav-pills nav-stacked&quot;&gt;
        &lt;li data-match-route=&quot;/&quot;&gt;&lt;a href=&quot;#/&quot;&gt;&#29992;&#25143;&#38754;&#26495;&lt;/a&gt;&lt;/li&gt;
        &lt;li data-match-route=&quot;/table&quot;&gt;&lt;a href=&quot;#/table&quot;&gt;&#34920;&#26684;&lt;/a&gt;&lt;/li&gt;
        &lt;li data-match-route=&quot;/form&quot;&gt;&lt;a href=&quot;#/form&quot;&gt;&#34920;&#21333;&lt;/a&gt;&lt;/li&gt;
        &lt;li data-match-route=&quot;/widget&quot;&gt;&lt;a href=&quot;#/widget&quot;&gt;&#32452;&#20214;&lt;/a&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>

<h3>Slim scroll</h3>
<p>可配置属性</p>
<ul>
    <li>slimScrollWidth</li>
    <li>slimScrollHeight</li>
    <li>slimScrollPosition = left | right</li>
</ul>
<div slim-scroll slim-scroll-width="400" slim-scroll-height="100" style="margin-bottom:15px;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quod, aspernatur magnam amet laboriosam consectetur possimus illum velit eius facere praesentium doloribus inventore corrupti nisi reiciendis asperiores molestiae optio enim?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quod, aspernatur magnam amet laboriosam consectetur possimus illum velit eius facere praesentium doloribus inventore corrupti nisi reiciendis asperiores molestiae optio enim?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quod, aspernatur magnam amet laboriosam consectetur possimus illum velit eius facere praesentium doloribus inventore corrupti nisi reiciendis asperiores molestiae optio enim?</p>
</div>
<hr>
