/* example */
/* line 2, ../../app/styles/example.scss */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 12, ../../app/styles/example.scss */
.bs-docs-example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

/* line 27, ../../app/styles/example.scss */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* line 32, ../../app/styles/example.scss */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
  border: 1px solid #E1E1E8;
}

/* line 1, ../../app/styles/prettify.scss */
.com {
  color: #93a1a1;
}

/* line 2, ../../app/styles/prettify.scss */
.lit {
  color: #195f91;
}

/* line 3, ../../app/styles/prettify.scss */
.pun, .opn, .clo {
  color: #93a1a1;
}

/* line 4, ../../app/styles/prettify.scss */
.fun {
  color: #dc322f;
}

/* line 5, ../../app/styles/prettify.scss */
.str, .atv {
  color: #D14;
}

/* line 6, ../../app/styles/prettify.scss */
.kwd, .prettyprint .tag {
  color: #1e347b;
}

/* line 7, ../../app/styles/prettify.scss */
.typ, .atn, .dec, .var {
  color: teal;
}

/* line 8, ../../app/styles/prettify.scss */
.pln {
  color: #48484c;
}

/* line 10, ../../app/styles/prettify.scss */
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* line 15, ../../app/styles/prettify.scss */
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 22, ../../app/styles/prettify.scss */
ol.linenums {
  margin: 0 0 0 0 !important;
  /* IE indents via margin-left */
}

/* line 25, ../../app/styles/prettify.scss */
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
