@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/ntd-404\.scss}line{font-family:\000032}}
.page-404 {
  margin: 0 auto;
  width: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/ntd-404\.scss}line{font-family:\000035}}
.page-404 .bd {
  display: inline-block;
  margin: 100px auto;
  padding: 40px;
  min-height: 200px;
  background: #fafafa;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 #fff;
}
