@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000031}}
.com {
  color: #93a1a1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000032}}
.lit {
  color: #195f91;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000033}}
.pun, .opn, .clo {
  color: #93a1a1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000034}}
.fun {
  color: #dc322f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000035}}
.str, .atv {
  color: #D14;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000036}}
.kwd, .prettyprint .tag {
  color: #1e347b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000037}}
.typ, .atn, .dec, .var {
  color: teal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\000038}}
.pln {
  color: #48484c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\0000310}}
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\0000315}}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\0000322}}
ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/gitHub\/angular-adminui\/app\/styles\/prettify\.scss}line{font-family:\0000325}}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
