<div class="dropdown dropdown-checkbox-group">
  <label class="dropdown-toggle" data-ng-show="dataSource.checkboxGroup.length" data-toggle="dropdown">
    <input type="checkbox" data-ng-click="toggleCheckedAll()" data-ng-class="{'part': 'part-checked'}[status]" data-ng-checked="{'all': true, 'part': true, 'none': false}[status]"/>{{dataSource.name}}
    <b class="caret"></b>
  </label>
    <label class="dropdown-toggle" data-ng-show="!dataSource.checkboxGroup.length" data-toggle="dropdown">
        <input type="checkbox" disabled/>{{dataSource.name}}
    </label>
  <ul class="dropdown-menu" data-ng-show="dataSource.checkboxGroup.length">
    <li data-ng-repeat="checkbox in dataSource.checkboxGroup"><label><input type="checkbox" data-ng-model="checkbox.checked"/> {{checkbox.name}}</label></li>
  </ul>
</div>
